<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
      <input type="text" name="listing[title]" placeholder="Enter Title" value="<%= listing.title %>"/><br />
      <textarea name="listing[description]" placeholder="Enter Description"><%= listing.description %></textarea
      ><br />
      <input type="text" name="listing[image]" placeholder="Enter image URL" value="<%= listing.image %>"/><br />
      <input type="number" name="listing[price]" placeholder="Enter Price" value="<%= listing.price %>"/><br />
      <input type="text" name="listing[location]" placeholder="Enter Location" value="<%= listing.location %>"/><br />
      <input type="text" name="listing[country]" placeholder="Enter Country" value="<%= listing.country %>"/><br />
      <button>Submit</button>
</body>
</html>