<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div
      class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1"
    >
      <h3 class="mt-4 mb-3"><%= listing.title %></h3>
      <div class="card">
        <img
          src="<%= listing.image %>"
          class="card-img-top"
          alt="listing-image"
        />
        <div class="card-body mt-1">
          <p class="card-text lh-base my-2">
            <span class="d-block"><%= listing.description %></span>
            <span class="d-block"
              ><strong>Price: </strong>&#8377; <%=
              listing.price.toLocaleString("en-IN") %></span
            >
            <span class="d-block"><%= listing.location %></span>
            <span class="d-block"><%= listing.country %></span>
          </p>
          <div class="d-flex gap-2">
            <a href="/listings/<%= listing._id %>/edit"
              ><button class="btn btn-dark rounded-pill px-4">Edit</button></a
            ><br /><br />
            <form
              action="/listings/<%= listing._id %>?_method=DELETE"
              method="post"
            >
              <button class="btn btn-danger rounded-pill px-4">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <hr />
      <div class="mb-4">
        <h4>Leave a Review</h4>
      <form action="/listings/<%= listing._id %>/reviews" method="post">
        <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            name="review[rating]"
            id="rating"
            class="w-50 d-block"
            min="0"
            max="5"
            step="1"
          />
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            placeholder="Comments"
            class="form-control"
            rows="3"
          ></textarea>
        </div>
        <button class="btn btn-outline-dark rounded-pill px-3">Submit</button>
      </form>
      </div>
    </div>
  </div>
</body>
